body>header {
  background-color: rgb(233, 153, 49);
  height: 520px;
  width: 30%;
  margin: 5%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url(../images/checkered-light-emboss.png);
}

/* Tablet and mobile phone style */
@media only screen and (max-width: 768px) {

  body>header {
    width: 90%;
  }

}