nav {
  color: #ffffff;
  background-color: #4056A1;
  height: 120px;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1.5em;
  /* position: fixed; */
  width: 100%;
}

#logo {
  font-family:'Bungee', cursive;
}

#write-new-tweet {
  position: absolute;
  right: 1.5em;
  text-align: center;
}

nav .fa-solid {
  color: red;
}